<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <ul>
        <li><a href="{{ url_for('routes.home') }}">Home</a></li>
        <li><a href="{{ url_for('routes.register') }}">Register</a></li>
        <li><a href="{{ url_for('routes.login') }}">Login</a></li>
        <li><a href="{{ url_for('routes.edit_profile') }}">Edit Profile</a></li>
        <li><a href="{{ url_for('routes.logout') }}">Logout</a></li>
    </ul>
    {% block content %}{% endblock %}
</body>
</html>
